<extend name="Base:base"/>
<!--页面标题-->
<block name="title">神舟数码::周报</block>
<!--自定义的Style或JS-->
<block name="link">
    <link href="__PUBLIC__/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <!--<link href="__PUBLIC__/Home/Index/add_prgoramme.css" rel="stylesheet" />-->
</block>

<!--面包屑导航-->
<block name="breadcrumb">
    <li class="active">编辑项目</li>
</block>

<!--页面内容-->
<block name="page-body">
    <!--错误，警告，成功，的提示方式-->
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div id="show_error" style="display: none">
                <div class="alert alert-danger fade in" id="error">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <i class="fa-fw fa fa-times"></i>
                    <strong>Error</strong> 项目编辑失败.
                </div>
            </div>
            <div id="show_waring" style="display: none">
                <div class="alert alert-warning fade in" id="waring">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <i class="fa-fw fa fa-warning" ></i>
                    <!--<strong id="aa">Warning</strong> 记住输出警告的信息.-->
                </div>
            </div>
            <div id="show_success" style="display: none">
                <div class="alert alert-success fade in" id="success">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <i class="fa-fw fa fa-check"></i>
                    <strong>Success</strong> 项目编辑成功.
                </div>
            </div>
        </div>

    </div>


    <div class="row" id="edit_body">
        <div class="col-xs-12 col-md-12">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">编辑项目</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <form  method="post" id="form" action="{:U('products/edit')}">
                            <input type="hidden" url="{:U('products/prod')}" id="show_index">
                            <div class="form-title">
                                项目详情
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>产品经理</label>
                                    <!--获取用户的所有信息-->
                                    <select class="form-control" id="manager_name">
                                        <foreach name="user_data" item="vo" >
                                            <if condition="$vo.job eq 2">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>区域</label>
                                    <!--获取区域的所有信息-->
                                    <select class="form-control" id="object_aera">
                                        <foreach name="_list" item="vo" >
                                            <if condition="$vo.type eq 1">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>

                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>行业</label>
                                    <!--获取区域的所有信息-->
                                    <select class="form-control" id="object_hangye">
                                        <foreach name="_list" item="vo" >
                                            <if condition="$vo.type eq 2">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                    <!--<i class="glyphicon glyphicon-user circular"></i>-->
                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label class="setbounds">神州销售</label>
                                    <!--获取用户的所有信息-->
                                    <select class="form-control" id="object_sealman">
                                        <foreach name="user_data" item="vo" >
                                            <if condition="$vo.job eq 3">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </span>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="setbounds">项目名称</label>
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" id="project_name" value="{$data.name}" placeholder="请输入项目名称">
                                        <input type="hidden" id="project_id" value="{$data.Id}">
                                        <i class="glyphicon glyphicon-gift"></i>
                                    </span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="setbounds">渠道信息</label>
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" id="project_channel" value="{$data.channel}" placeholder="请输入渠道信息">
                                        <i class="glyphicon glyphicon-random"></i>
                                    </span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>项目清单</label>
                                    <!--获取区域的所有信息-->
                                    <select class="form-control" id="object_list">
                                        <foreach name="_list" item="vo" >
                                            <if condition="$vo.type eq 3">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>项目预算</label>
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" id="object_budget" value="{$data.budget}" placeholder="项目预算">
                                        <i class="fa fa-bullhorn"></i>
                                    </span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>投标时间</label>
                                        <span class="input-icon icon-right">
                                             <input class="form-control date-picker" id="id-date-picker-1" type="text" value='{$data.tender_time|date="Y-m-d",###}'  name="get_time" data-date-format="yyyy-mm-dd">
                                              <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>

                                <!--<hr class="wide" />-->


                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>项目状态</label>
                                    <!--获取区域的所有信息-->
                                    <select class="form-control" id="object_status">
                                        <foreach name="_list" item="vo" >
                                            <if condition="$vo.type eq 4">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>把握度</label>
                                    <!--获取区域的所有信息-->
                                    <select class="form-control" id="grasp_degree">
                                        <foreach name="_list" item="vo" >
                                            <if condition="$vo.type eq 5">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="input-icon icon-right">
                                    <label>当前进展</label>
                                    <!--获取区域的所有信息-->
                                    <select class="form-control" id="current_progress">
                                        <foreach name="_list" item="vo" >
                                            <if condition="$vo.type eq 6">
                                                <option value="{$vo.Id}">{$vo.name}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="setbounds">中标渠道</label>
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" id="winning_channel" value='{$data.win_channel}' placeholder="请输入中标渠道">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="setbounds">厂商负责人</label>
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" id="account_manager" value='{$data.vender}' placeholder="请输入厂商负责（客户经理）">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" name="submit" class="btn btn-blue">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">

    <script type="text/javascript" src="__PUBLIC__/Home/Index/staick/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Index/staick/jquery-1.11.3.min.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Home/Index/staick/datepacker.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/Home/Products/js/submit_edit.js"></script>

    <!--Page Related Scripts-->
    <!--Jquery Select2-->
    <script src="__PUBLIC__/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="__PUBLIC__/assets/js/tagsinput/bootstrap-tagsinput.js"></script>

    <!--Bootstrap Date Picker-->
    <script src="__PUBLIC__/assets/js/datetime/bootstrap-datepicker.js"></script>

    <!--Bootstrap Time Picker-->
    <script src="__PUBLIC__/assets/js/datetime/bootstrap-timepicker.js"></script>

    <!--Bootstrap Date Range Picker-->
    <script src="__PUBLIC__/assets/js/datetime/moment.js"></script>
    <script src="__PUBLIC__/assets/js/datetime/daterangepicker.js"></script>

    <!--Jquery Autosize-->
    <script src="__PUBLIC__/assets/js/textarea/jquery.autosize.js"></script>

    <!--Fuelux Spinner-->
    <script src="__PUBLIC__/assets/js/fuelux/spinner/fuelux.spinner.min.js"></script>

    <!--jQUery MiniColors-->
    <script src="__PUBLIC__/assets/js/colorpicker/jquery.minicolors.js"></script>

    <!--jQUery Knob-->
    <script src="__PUBLIC__/assets/js/knob/jquery.knob.js"></script>

    <!--noUiSlider-->
    <script src="__PUBLIC__/assets/js/slider/jquery.nouislider.js"></script>

    <!--jQRangeSlider-->
    <script src="__PUBLIC__/assets/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="__PUBLIC__/assets/js/slider/jQRangeSlider/jQAllRangeSliders-withRuler-min.js"></script>
    <script type="text/javascript">
        //--Jquery Select2--
        $("#e1").select2();
        $("#e2").select2({
            placeholder: "Select a State",
            allowClear: true
        });

        //--Bootstrap Date Picker--
        $('.date-picker').datepicker();

        //--Bootstrap Time Picker--
        $('#timepicker1').timepicker();

        //--Bootstrap Date Range Picker--
        $('#reservation').daterangepicker();

        //--JQuery Autosize--
        $('#textareaanimated').autosize({ append: "\n" });

        //--Fuelux Spinner--
        $('.spinner').spinner();


        //--jQuery MiniColors--
        $('.colorpicker').each(function () {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                change: function (hex, opacity) {
                    if (!hex) return;
                    if (opacity) hex += ', ' + opacity;
                    try {
                        console.log(hex);
                    } catch (e) { }
                },
                theme: 'bootstrap'
            });

        });


        //---Jquery Knob--
        $(".knob").knob();


        //---noUiSlider--
        $("#sample-minimal").noUiSlider({
            range: [0, 100],
            start: [20, 80],
            connect: true,
            serialization: {
                mark: ',',
                resolution: 0.1,
                to: [[$("#minimal-label1"), 'html'],
                    [$('#minimal-label2'), 'html']]
            }
        });

        $("#sample-onehandle").noUiSlider({
            range: [20, 100],
            start: 40,
            step: 20,
            handles: 1,
            connect: "lower",
            serialization: {
                to: [$("#low"), 'html']
            }
        });
        $("#sample-onehandle-upper").noUiSlider({
            range: [20, 100],
            start: 70,
            step: 20,
            handles: 1,
            connect: "upper",
            serialization: {
                to: [$("#low"), 'html']
            }
        });
        $('.slider').noUiSlider({
            range: [0, 255],
            start: 127,
            handles: 1,
            connect: "lower",
            orientation: "vertical",
            serialization: {
                resolution: 1
            }
            , slide: function () {

                var color = 'rgb(' + $("#red").val()
                        + ',' + $("#green").val()
                        + ',' + $("#blue").val()
                        + ')';

                $(".result").css({
                    background: color
                    , color: color
                });
            }
        });

        $(".sized-slider").noUiSlider({
            range: [0, 100],
            start: 50,
            handles: 1,
            connect: "lower",
            serialization: {
                to: [$("#low"), 'html']
            }
        });

        $(".colored-slider").noUiSlider({
            range: [0, 100],
            start: 30,
            handles: 1,
            connect: "lower",
            serialization: {
                to: [$("#low"), 'html']
            }
        });

        //--jQRangeSlider--
        $(".sized-rangeslider").rangeSlider();
        $(".colored-rangeslider").rangeSlider();
        $("#rangeslider").rangeSlider();
        $("#editrangeslider").editRangeSlider();
        $("#daterangeslider").dateRangeSlider();
        $("#noarrowsrangeslider").rangeSlider({ arrows: false });
        $("#boundsrangeslider").rangeSlider({ bounds: { min: 10, max: 90 } });
        $("#dvrangeslider").rangeSlider({ defaultValues: { min: 13, max: 66 } });
        $("#delayrangeslider").rangeSlider({ valueLabels: "change", delayOut: 4000 });
        $("#durationrangeslider").rangeSlider({ valueLabels: "change", durationIn: 1000, durationOut: 1000 });
        $("#disabledrangeslider").rangeSlider({ enabled: false });
        $("#steprangeslider").rangeSlider({ step: 10 });
        $("#labelsrangeslider").rangeSlider({ valueLabels: "hide" });
        $("#simlescalesrangeslider").rangeSlider({
            scales: [
                // Primary scale
                {
                    first: function (val) { return val; },
                    next: function (val) { return val + 10; },
                    stop: function (val) { return false; },
                    label: function (val) { return val; },
                    format: function (tickContainer, tickStart, tickEnd) {
                        tickContainer.addClass("myCustomClass");
                    }
                },
                // Secondary scale
                {
                    first: function (val) { return val; },
                    next: function (val) {
                        if (val % 10 === 9) {
                            return val + 2;
                        }
                        return val + 1;
                    },
                    stop: function (val) { return false; },
                    label: function () { return null; }
                }]
        });
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
        $("#dateRulersExample").dateRangeSlider({
            bounds: { min: new Date(2012, 0, 1), max: new Date(2012, 11, 31, 12, 59, 59) },
            defaultValues: { min: new Date(2012, 1, 10), max: new Date(2012, 4, 22) },
            scales: [{
                first: function (value) { return value; },
                end: function (value) { return value; },
                next: function (value) {
                    var next = new Date(value);
                    return new Date(next.setMonth(value.getMonth() + 1));
                },
                label: function (value) {
                    return months[value.getMonth()];
                },
                format: function (tickContainer, tickStart, tickEnd) {
                    tickContainer.addClass("myCustomClass");
                }
            }]
        });
    </script>
</block>

